*{
padding:0;
margin:0;
}
html{

scroll-behavior: smooth;

}
/* --- nav--- */

.Contenido-menu{
display:flex;
width: 100%;
justify-content: center;
background-color: #000;
align-items: center;
color: #f5f6fa;

}
.menu{
 font-size: 29px;
 font-weight: 500;

}
.menu__item {

color: #f5f6fa;
text-decoration: none;
padding:0px 15px 0px 15px;

}
.menu__item:hover{

    color:#57606f;

}

/* ----Baner---- */


.banner{

background-image:url(img/FondoA1.jpg);
background-attachment: fixed;
width: 100%;
height:100vh;

}
.banner-context{
    
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
     flex-direction:column;
    align-items: center;
    

}
.banner__img{

width:350px;

 }
    
 .banner__titulo{
    
    color: #f5f6fa;
    font-size: 100px;
    font-weight: 600;

}
.banner__texto{
 color: #f5f6fa;
 font-size: 30px;
font-weight: 400;

    } 
    

/* -------------------- */

.contenido--barbero{

width: 100%;
height: 100vh;
background-color: #000;


}

.contenido--barbero__bloque{
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
height: 500px;
width: 100%;
justify-content: space-around;


}
    

.section__title{

    color: #f5f6fa;
    text-align: center;
    padding-top: 32px;
   font-size: 35px;
}
.barbero__card{

display: flex;
flex-direction: column;
}

.barbero__card--img{

background-image: url(./img/DIEGO.PNG);
background-size: cover;
background-repeat: no-repeat;
width:300px;
height:300px;
border: 5px solid #ffffff;
border-radius: 25px;
transition: all 0.3s ease;


}
.barbero__card--img--1{

    background-image: url(./img/BarA1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:300px;
    height:300px;
    border: 5px solid #ffffff;
    border-radius: 25px;
    transition: all 0.3s ease;
    
    
    }
    .barbero__card--img--2{

        background-image: url(./img/KENNY.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width:300px;
        height:300px;
        border: 5px solid #ffffff;
        border-radius: 25px;
        transition: all 0.3s ease;
        
        
        }
.barbero__card--img:hover{

       transform:scale(0.9);
            
            
            }
.barbero__card--img--1:hover{

    transform:scale(0.9);
    
    }
 .barbero__card--img--2:hover{

    transform:scale(0.9);
        }

 .barbero__card--text {
 display: flex;
justify-content: center;
 }


.barbero__card--text a{

color: #f5f6fa;
text-decoration: none;
font-size: 25px;
text-align: center;
font-weight: 400;
}
.barbero__card--text a:hover{

    color:#57606f;
    }
    
.section__estilos{
    width: 100%;
    background-color: #000;
    height:100px;
    display: flex;
    justify-content: center;
}
.section__estilos--h2{
    color: #f5f6fa;
    text-align: center;
    padding-top: 32px;
    font-size: 35px;
}

.contenido__footer{
width: 100%;
background-color: #313235;
height: 24px;


    
}
.contenido__footer p{
  text-align: center;
   color: #ffffff;
}



/* -----para whatsapp--------------- */

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#000;
    color:#ffffff;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: 
    #45c755;
    color: white;
}


/* ----Nuevo Responsi ---- */


@media(max-width:980px){

    .menu{
        font-size: 20px;
        font-weight: 500;
     
       }
       .banner__titulo{
    
        color: #f5f6fa;
        font-size: 60px;
        font-weight: 600;
    
    }
    .banner__texto{
     color: #f5f6fa;
     font-size: 19px;
    font-weight: 400;
    
        } 
    
 .barbero__card--img{

 width:200px;
  height:200px;
          
            
 }
 .barbero__card--img--1{
    width:200px;
  height:200px;
                
                
 }
  .barbero__card--img--2{
            
  width:200px;
      height:200px;
    
    }
    .barbero__card--text a{

        font-size: 20px;
        font-weight: 800;
   
        }

}

@media(max-width:646px){

    .contenido--barbero__bloque{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
       
        justify-content: space-around;
        
        
        }
 .barbero__card--img{

 width:120px;
  height:120px;
          
            
 }
 .barbero__card--img--1{
    width:120px;
  height:120px;
                
                
 }
  .barbero__card--img--2{
            
  width:120px;
 height:120px;
    
    }
    .barbero__card--text a{

     
        font-size: 15px;
        font-weight: 800;
      
        }

}


@media(max-width:414px) {

    .menu{
        font-size: 19px;
        font-weight: 500;
     
       }
       .banner__titulo{
    
        color: #f5f6fa;
        font-size: 75px;
        font-weight: 600;
    
    }
    .banner__texto{
     color: #f5f6fa;
     font-size: 20px;
    font-weight: 400;
    
        } 
    }

@media(max-width:375px) {

    .menu{
        font-size: 19px;
        font-weight: 500;
     
       }

       .banner__img{
    
    width:250px;
    
     }
     .banner__titulo{
    
        color: #f5f6fa;
        font-size: 75px;
        font-weight: 600;
    
    }
    .banner__texto{
     color: #f5f6fa;
     font-size: 20px;
    font-weight: 400;
    
        } 

    }

